.color1{
	background-color: #92ca4e;
}

div div h1{
	color: #606060;
}
div div h2{
	color: #f7f7f7;
}

div div h5{
	color: #f9f9f9;
}
.color2{
	background-color: #a7d471;
}

.color3{
	background-color: #74a13e;
}

.color4{
	background-color: #f0f0f0;
}

.margenliga{
	margin: 1%;
}
a{
	color: #f7f7f7 ;
}

ul{
		
	text-align: center; 
   }
